In [1]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[2])
print ("list2[1:5]: ", list2[1:3])

list1[0]:  1997
list2[1:5]:  [2, 3]

In [2]:
list = ['maths', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 999999;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
999999

In [3]:
list1 = ['maths', 'social', 1997, 2000];
print (list1)
del (list1[2]);
print ("After deleting value at index 2 :")
print (list1)

['maths', 'social', 1997, 2000]
After deleting value at index 2 :
['maths', 'social', 2000]

In [4]:
list1, list2 = [123, 'xyz', 'sara'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [5]:
aList = [123, 'xyz', 'sara', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'sara', 'abc', 2009]

In [6]:
aList = [123, 'xyz', 'xyz', 'abc', 123];
print ("Count for xyz : ", aList.count('xyz'))
print ("Count for sara : ", aList.count('sara'))

Count for xyz :  2
Count for sara :  0

In [7]:
aList = [123, 'xyz', 'sara', 'abc', 123];
bList = [2009, 'atharva'];
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'sara', 'abc', 123, 2009, 'atharva']

In [8]:
aList = [123, 'xyz', 'sara', 'abc', 'sara'];
print ("Index for xyz : ", aList.index( 'xyz' ) )
print ("Index for sara : ", aList.index( 'sara' ) )

Index for xyz :  1
Index for sara :  2

In [9]:
aList = [123, 'xyz', 'sara', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 'sara', 2009, 'abc']

In [10]:
aList = [123, 'xyz', 'sara', 'abc'];
print(aList)
print ("List after popping last element : ", aList.pop())
print(aList)
print ("List after popping element from mentioned index: ", aList.pop(2))
print(aList)
aList.insert(3, 2009)
print(aList)

[123, 'xyz', 'sara', 'abc']
List after popping last element :  abc
[123, 'xyz', 'sara']
List after popping element from mentioned index:  sara
[123, 'xyz']
[123, 'xyz', 2009]

In [11]:
aList = [123, 'xyz', 'sara', 'abc', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'sara', 'abc', 'xyz']
List :  [123, 'sara', 'xyz']

In [12]:
aList = ['atharva', 'xyz', 'sara', 'abc', 'navya'];
aList.reverse();
print ("List : ", aList)

List :  ['navya', 'abc', 'sara', 'xyz', 'atharva']

In [13]:
aList = ['sita', 'jaga', 'sonia', 'nisha', '2'];
aList.sort();
print ("List : ", aList)

List :  ['2', 'jaga', 'nisha', 'sita', 'sonia']

In [14]:
aList = [ 'xyz', 'sara', 'abc', 'xyz'];
aList.sort();
print ("List : ", aList)

List :  ['abc', 'sara', 'xyz', 'xyz']