In [1]:
str = "atharva"
for i in str:
 print(i)

a
t
h
a
r
v
a

In [2]:
list = [1,2,3,4,5,6,7,8,9,10]
n = 1
for i in list:
 c = n*i
 print(n," *",i, " =", c)

1  * 1  = 1
1  * 2  = 2
1  * 3  = 3
1  * 4  = 4
1  * 5  = 5
1  * 6  = 6
1  * 7  = 7
1  * 8  = 8
1  * 9  = 9
1  * 10  = 10

In [3]:
list = [10,30,23,43,65,12]
sum = 0
for i in list:
    sum = sum+i
    print("The sum is:",sum)

The sum is: 10
The sum is: 40
The sum is: 63
The sum is: 106
The sum is: 171
The sum is: 183

In [4]:
for i in range(14):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13

In [5]:
n = int(input("Enter the number "))
for i in range(1,11):
 c = n*i
 print(n,"*",i,"=",c)

Enter the number 34
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

In [6]:
n = int(input("Enter the number "))
for i in range(2,n,2):
    print(i)

Enter the number 2

In [7]:
list = ['nisha','Shalini','isha','hema']
for i in range(len(list)):
    print("Hello",list[i])

Hello nisha
Hello Shalini
Hello isha
Hello hema

In [8]:
for i in range(0,7):
    print(i)
else:
    print("for loop completely exhausted, since there is no break.")

0
1
2
3
4
5
6
for loop completely exhausted, since there is no break.

In [10]:
for i in range(0,7):
    print(i)
    print("bye")
    continue;
    print("hello")
else:print("for loop is exhausted");
print("The loop is broken due to break statement...came out of the loop")

0
bye
1
bye
2
bye
3
bye
4
bye
5
bye
6
bye
for loop is exhausted
The loop is broken due to break statement...came out of the loop

In [12]:
i = 0
str1 = 'atharva'
print(str1)
while i < len(str1):
    print('entered while loop before if statement')
    if str1[i] == 'a' or str1[i] == 'u':
        print('entered if statement')
    i += 1
    print('i incremented')
    continue
    print('after continue')
    print('Current Letter :', str1[i])
    i += 1
    print('going back to starting of while loop')

atharva
entered while loop before if statement
entered if statement
i incremented
entered while loop before if statement
i incremented
entered while loop before if statement
i incremented
entered while loop before if statement
entered if statement
i incremented
entered while loop before if statement
i incremented
entered while loop before if statement
i incremented
entered while loop before if statement
entered if statement
i incremented